{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project and App Creation   </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1> Project and App Creation </h1> 

        </header>    
        <main>
            <h4>This is a Create Django Project  </h4>
    
            </form>
        </main>
        <br> <br> <br> 
    

    <footer>
        &copy;  Mitul Sindhav python Djano 2025 
    </footer>

    <!-- Link to JavaScript file -->
    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
