{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS in Python </title>
    <!-- Link the CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Django Website</h1>
    </header>

    <main>
        <h4>This is a Simple content Form </h4>

        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">

            <label for="message">Message:</label>
            <textarea id="message" name="message"></textarea>

            <button type="submit">Submit</button>
        </form>
    </main>

    <footer>
        &copy; Mitul Sindhav  Django App 2025
    </footer>
</body>
</html>
